<!-- Contenedor principal -->
<div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg w-full h-full rounded-3xl absolute transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg w-full h-full rounded-3xl absolute transform rotate-6"></div>
            <div class="relative w-full rounded-3xl px-6 py-4 bg-gray-100 shadow-md">
                <!-- Etiqueta de título del formulario -->
                <label class="block mt-3 text-sm text-gray-700 text-center font-semibold">Regístrate</label>


                <!-- Inicio Formulario -->
                <form (submit)="onSubmit()" class="mt-10">


                    <!-- Campo para ingresar el nombre completo-->
                    <div>
                        <input type="text" [(ngModel)]="nombreCompleto" name="nombreCompleto" placeholder="Nombre Completo" required
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0" />
                    </div>


                    <!-- Campo para ingresar el username -->
                    <div class="mt-7">
                        <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0" />
                    </div>


                    <!-- Campo para ingresar el Correo electronico -->
                    <div class="mt-7">
                        <input type="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0" />
                    </div>



                    <!-- Campo para ingresar el Contraseña -->
                    <div class="mt-7">
                        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0" />
                    </div>



                    <!-- Campo para ingresar el Confirmar Contraseña -->
                    <div class="mt-7">
                        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" required
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0" />
                    </div>



                    <!-- Botón de enviar para registrar al usuario -->
                    <div class="mt-7">
                        <button type="submit"
                            class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105">
                            Registrar
                        </button>
                    </div>


                    <!-- Mensaje de error credenciales sean incorrectas -->
                    <div *ngIf="errorMessage" class="error-message text-red-500">
                        {{ errorMessage }}
                    </div>


                    <!-- Enlace para redirigir al usuario a la página de inicio de sesión si ya tiene cuenta -->
                    <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2">¿Ya tienes una cuenta?</label>
                            <a routerLink="/login"
                                class="text-blue-500 transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105">
                                Iniciar sesión
                            </a>
                        </div>
                    </div>
                </form>
                <!-- Fin Formulario -->


            </div>
        </div>
    </div>
</div>
