<!-- Contenedor principal -->
<div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <!-- Etiqueta de título del formulario -->
                <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">Login</label>

                <!-- Inicio Formulario -->
                <form (submit)="onSubmit()" class="mt-10">


                    <!-- Campo para ingresar el nombre de usuario -->
                    <div>
                        <input type="username" id="username" [(ngModel)]="username" name="username" required
                            placeholder="Username"
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                    </div>


                    <!-- Campo para ingresar la contraseña -->
                    <div class="mt-7">
                        <input type="password" id="password" [(ngModel)]="password" name="password" required
                            placeholder="Contraseña"
                            class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
                    </div>


                    <!-- Botón iniciar sesión -->
                    <div class="mt-7">
                        <button type="submit"
                            class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            Iniciar Sesion
                        </button>
                    </div>


                    <!-- Boton para crear una cuenta -->
                    <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2">Necesitas una cuenta?</label>
                            <a routerLink="/registro"
                                class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                Crea una cuenta
                            </a>
                        </div>
                    </div>


                    <!-- Mensaje de error credenciales sean incorrectas -->
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                </form>
                <!-- Fin Formulario -->

            </div>
        </div>
    </div>
</div>