<!-- component -->

<link rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


<section class="py-1 bg-blueGray-50">
    <div class="w-full xl:w-full mb-12 xl:mb-0 px-4 mx-auto mt-8">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">



            <!-- Encabezado de la tabla -->
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base text-blueGray-700">Tareas</h3>
                    </div>
                </div>
            </div>



            <!-- Contenedor de la tabla -->
            <div class="block w-full overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse ">
                    <thead>
                        <tr>
                            <!-- Encabezados de las columnas de la tabla -->
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Nombre Tarea
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Descripción
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Fecha vencimiento
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Tiempo restante
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Prioridad
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <!-- Fin Encabezados de las columnas de la tabla -->





                    <tbody>
                        <!-- Iteramos sobre la lista de usuarios-->
                        <tr *ngFor="let tarea of tareas">
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ tarea.nombre_tarea }}
                            </td>
                            <td
                                class="descripcion border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-normal p-4">
                                {{ tarea.descripcion }}
                            </td>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ tarea.fecha_vencimiento }}
                            </td>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                {{ tarea.tiempoRestante === '0d 0h 0m 0s' ? 'Tiempo Finalizado' : (tarea.tiempoRestante
                                || 'No disponible') }}
                            </td>

                            <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                                [ngClass]="{
                                    'bg-red-500 text-white': tarea.prioridad === 1,
                                    'bg-orange-500 text-white': tarea.prioridad === 2,
                                    'bg-green-500 text-white': tarea.prioridad === 3
                                }">
                                {{ obtenerPrioridadTarea(tarea.prioridad) }}
                            </td>
                            <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                                [ngClass]="{
                                    'bg-green-500 text-white': tarea.estado === 'Completada',
                                    'bg-orange-500 text-white': tarea.estado === 'En Progreso',
                                    'bg-red-500 text-white': tarea.estado === 'Cancelada',
                                    'bg-yellow-500 text-white': tarea.estado === 'Pendiente'
                                }">
                                {{ tarea.estado }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Fin Contenedor de la tabla -->
        </div>


        <!-- Inicio paginacion -->
        <div class="flex justify-between items-center mt-4">
            <button (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 1"
                class="bg-blue-800 text-white px-4 py-2 rounded">
                Página Anterior
            </button>
            <span class="text-blueGray-700">Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="cambiarPagina(currentPage + 1)" [disabled]="currentPage === totalPages"
                class="bg-blue-800 text-white px-4 py-2 rounded">
                Página Siguiente
            </button>
        </div>
        <!-- Fin paginacion -->

    </div>

</section>